body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;  
}

div#headerdev {
    background-color: #f9ffff;
    width: 800px;  
    margin-top: 10px;
    margin: 0 auto;  
    padding: 20px;
    text-align: center;  
    border: 0.5px solid #F0F0F0;  
}
div#maincontentdev {  
    background-color: #ffffff;
    width: 800px;  
    margin: 0 auto;  
    padding: 20px;
    text-align: center;  
    border: 1px solid #F0F0F0;  
}
div#footerdev {  
    background-color: #f9ffff;
    width: 800px;  
    margin: 0 auto;
    padding: 20px;
    text-align: center;  
    border: 0.5px solid #F0F0F0;
}
/* header */
div#facebook{
    text-align: right;
}

/* Form Input */
div#inputformdev{
    width: 500px;  
    margin: 0 auto;  
    text-align: center;
    border: 0px;
}
td#inplabeldiv{
    width: 200px;
    text-align: right;
}
td#spacediv{
    width: 50px;
}
td#inptxtdiv{
    width: 200px;
    text-align: left;
}

div#clrdiv{
    clear:both;
}
/* footer */
p#bottom_nav{
	margin:5px 0 20px 0;
	padding-left:0;
	padding-top:5px;
	font-size:11px;
	text-align:center;
}
a {
  color: #00B7FF;
}

