extends layout

block content
  今年、2013年度の学際で着るパーカーの申し込みです.<BR/>
  よろしく！<BR/>
  <BR/>
  <BR/>
  
  div(id="inputformdev")
    form(action='/inputform/apply', method='get')
        table
            tr
                td(id='inplabeldiv')
                    label(for='name') Name:
                td(id='spacediv')
                td(id='inptxtdiv')
                    input(id='Name',type='text',value='',placeholder='Your Name',name='name')
            tr
                td(id='inplabeldiv')
                    label(for='email') email:
                td(id='spacediv')
                td(id='inptxtdiv')
                    input(id='email',type='text',value='',placeholder='xxx@local.text',name='email')
            tr
                td(id='inplabeldiv')
                    label(for='password') password:
                td(id='spacediv')
                td(id='inptxtdiv')
                    input(id='password',type='password',value='',placeholder='xxxxx',name='password')
    
        div(data-role='fieldcontain')   
          input(type='submit',value=' aply ',data-transition='fade', data-theme='c')
          
  
  