doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.10.2.min.js", type="text/javascript")
    script(src="/javascripts/djh.js", type="text/javascript")
  body
    div(id="headerdev")
        include header
    div(id="maincontentdev")
        block content
    div(id="footerdev")
        include footer

    
    